:root {
  background-color: whitesmoke;
}

.heading {
  font-size: 30px;
  padding: 16px 0;
  padding: 16px;
  text-align: center;
}

.container {
  margin: 36px auto;
  width: 100%;
  max-width: 800px;
}

.search-label {
  position: relative;
}

.text_input {
  border-radius: 2.75%;
  box-shadow: 3px 3px #444;
}

.container input {
  width: 100%;
  padding: 16px;
  font-size: 36px;
  font-style: italic;
  color: #444;
  box-sizing: border-box;
  outline: none;
}

.Business_title {
  color: peru;
}

.Business_card {
  border: solid #444 1px;
  border-radius: 2.75%;
  box-shadow: 3px 3px #444;
  padding: 10px;
  background-color: white;
}
